@model IEnumerable<MaintenanceRequest>

<h2>Maintenance Requests</h2>

<table class="table">

    <thead>
        <tr>
            <th>Title</th>
            <th>Issue</th>
            <th>Name</th>
            <th>Email</th>
             <th>Property Identity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var m in Model)
        {
            <tr>
                <td>@m.PropertyTitle</td>
                <td>@m.Issue</td>
                <td>@m.TenantName</td>
                <td>@m.TenantEmail</td>
                <td>@m.PropertyId</td>
                <td>@m.Status</td>
                <td>
                    @if (m.Status != "Resolved")
                    {
                        <a class="btn btn-primary" asp-controller="Maintenance" asp-action="Acknowledgement" asp-route-id="@m.Id">Acknowledged</a>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Maintenance" asp-action="Resolved" asp-route-id="@m.Id">Resolved</a>
                </td>
            </tr>
        }

    </tbody>

</table>